body{
    font-family: var(--main-fonts);
    font-style: normal;
    font-size: 12px;
    font-weight: 400;

    color: var(--main-color-text);

    line-height: 14px;
}

.container{
    width: 1232px;
    padding: 0 32px;
    margin: 0 auto;
}