:root{
    --main-fonts: 'Roboto', sans-serif;

    --main-size-text: 12px;

    --main-color-text: #fff;
    --footer-color-text: #545454;
    --hover-color-header: #FF001B;
    --footer-color-bg: #F7F7F7;
    --hover-color-footer: #FF6B08;
    --main-color-title: #000;
}