<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a href="../src/index.html" class="logo">
                <svg class="logo__icon" width="24" height="24">
                    <use href="./images/icon-logo.svg#icon-logo"></use>
                </svg>
                Filmoteka
            </a>
            <nav class="nav-menu">
                <ul class="site-nav">
                    <li class="site-nav__item"><a href="../src/index.html" class="site-nav__link site-nav__link--active" >Home</a></li>
                    <li class="site-nav__item"><a href="../src/library.html" class="site-nav__link" target="_blank">my library</a></li>
                </ul>
            </nav>
        </div>
        <form class="search-form">
            <input type="search" class="search-form__input" placeholder="Movie search">
            <button type="submit" class="search-form__btn"></button>
        </form>
    </div>
</header>