<main class="main">
    <div class="container">
        <div class="movie-gallery">
            <!-- <div class="backdrop is-hidden">
                <div class="modal">
                    <button class="modal-btn" type="button">
                        <svg class="modal-btn__icon" width="16" height="16">
                            <use></use>
                        </svg>
                    </button>
                    <div class="wrapper-content">
                        <img src="https://image.tmdb.org/t/p/w500${object.poster_path}" alt="${object.original_title}">
                        <div class="wrapper-info">
                            <h2 class="modal-title">${object.original_title}</h2>
                            <p class="modal-text">${object.overview}</p>
                            <ul class="wrapper-btn">
                                <li class="wrapper-btn__item"><button type="button" class="wrapper-btn__btn">add to Watched</button></li>
                                <li class="wrapper-btn__item"><button type="button" class="wrapper-btn__btn">add to queue</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</main>

