.logo{
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    color: var(--main-color-text);

    display: flex;
    align-items: center;
    gap: 10px;

    &:hover,
    &:focus{
        color: var(--hover-color-header);
    }

    &__icon{
        fill: currentColor;
        stroke: currentColor;
    }    
}

